<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:x="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:exmEnabled="http://www.sitecore.net/xmlconfig/exmEnabled/">
  <sitecore exmEnabled:require="yes" role:require="Standalone or Processing or ContentManagement or DedicatedDispatch">
    <experienceAnalytics>
      <aggregation>
        <dimensions>
          <dimension id="{99C447BD-9CCD-4B54-8AE9-5FB1550DE242}" type="Sitecore.EmailCampaign.ExperienceAnalytics.Dimensions.ByLocation, Sitecore.EmailCampaign.ExperienceAnalytics" >
            <x:attribute name="type">Sitecore.Support.EmailCampaign.ExperienceAnalytics.Dimensions.ByLocation, Sitecore.Support.287375</x:attribute>
          </dimension>
        </dimensions>
      </aggregation>
    </experienceAnalytics>
    <pipelines>
      <group groupName="exm.messageEvents">
        <pipelines>
          <emailOpened>
            <processor x:instead="*[@type='Sitecore.EmailCampaign.Cm.Pipelines.EmailOpened.SaveInteraction, Sitecore.EmailCampaign.Cm']" type="Sitecore.Support.EmailCampaign.Cm.Pipelines.EmailOpened.SaveInteraction, Sitecore.Support.287375" resolve="true">
              <Delay>500</Delay>
              <!-- Number of retry attempts -->
              <RetryCount>3</RetryCount>
            </processor>
          </emailOpened>
        </pipelines>
      </group>
    </pipelines>
  </sitecore>
</configuration>